# dependencies
chrome-extension-react/node_modules

# testing
chrome-extension-react/coverage

# production
chrome-extension-react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history

# secrets
secrets.*.js

chrome-extension-react/zip