.employeeItem{
    width: 100%;
}
.employeeItem> h4{
    text-align: center;
    font-size: 28px;
}
.employeeDetails{
    display: flex;
    justify-content: space-around;
}

.employeeDetails img{
    width: 150px;
}